{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="login-choice-container" align="center" style="text-align: center;">
    <div class="login-choice-content" align="center" style="text-align: center;">
        <img src="{% static 'mainpage_design.png' %}" alt="main visual" class="mainpage-image" style="margin-bottom: 32px; display: block; margin-left: auto; margin-right: auto; width: 595px; height: 385px;" />
        <div class="login-choice-btns" align="center" style="text-align: center;">
            <a href="{% url 'accounts:login' %}?real=1" class="login-choice-btn" style="display: block; margin: 10px auto;">로그인</a>
            <a href="{% url 'accounts:signup' %}" class="login-choice-btn" style="display: block; margin: 10px auto;">회원가입</a>
        </div>
    </div>
</div>
{% endblock %}