{% load static %}
<!-- Custom Navigation Bar -->
<nav class="custom-navbar">
    <div class="custom-navbar-container">
        <div class="custom-navbar-left">
            <a href="/" class="custom-navbar-brand">NestMind</a>
            <ul class="custom-navbar-menu">
                <li class="has-dropdown">
                    <span class="menu-label">정신건강 정보</span>
                    <div class="menu-dot"></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:stress_info' %}" style="color: inherit; text-decoration: none;">스트레스</a></li>
                        <li><a href="{% url 'pages:anxiety_info' %}" style="color: inherit; text-decoration: none;">불안증</a></li>
                        <li><a href="{% url 'pages:depression_info' %}" style="color: inherit; text-decoration: none;">우울증</a></li>
                        <li><a href="{% url 'pages:psychosis_info' %}" style="color: inherit; text-decoration: none;">정신증</a></li>
                        <li><a href="{% url 'pages:burnout_info' %}" style="color: inherit; text-decoration: none;">번아웃</a></li>
                        <li><a href="{% url 'pages:self_esteem_info' %}" style="color: inherit; text-decoration: none;">자존감</a></li>
                        <li><a href="{% url 'pages:emotion_record_info' %}" style="color: inherit; text-decoration: none;">감정 기록 / 조울증</a></li>
                        <li><a href="{% url 'pages:addiction_info' %}" style="color: inherit; text-decoration: none;">중독</a></li>
                        <li><a href="{% url 'pages:sleep_appetite_info' %}" style="color: inherit; text-decoration: none;">수면 / 식욕</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <span class="menu-label">자가 관리 방법</span>
                    <div class="menu-dot"></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:stress_management' %}" style="color: inherit; text-decoration: none;">스트레스</a></li>
                        <li><a href="{% url 'pages:anxiety_management' %}" style="color: inherit; text-decoration: none;">불안증</a></li>
                        <li><a href="{% url 'pages:depression_management' %}" style="color: inherit; text-decoration: none;">우울증</a></li>
                        <li><a href="{% url 'pages:psychosis_management' %}" style="color: inherit; text-decoration: none;">정신증</a></li>
                        <li><a href="{% url 'pages:burnout_management' %}" style="color: inherit; text-decoration: none;">번아웃</a></li>
                        <li><a href="{% url 'pages:self_esteem_management' %}" style="color: inherit; text-decoration: none;">자존감</a></li>
                        <li><a href="{% url 'pages:emotion_record_management' %}" style="color: inherit; text-decoration: none;">감정 기록 / 조울증</a></li>
                        <li><a href="{% url 'pages:addiction_management' %}" style="color: inherit; text-decoration: none;">중독</a></li>
                        <li><a href="{% url 'pages:sleep_appetite_management' %}" style="color: inherit; text-decoration: none;">수면 / 식욕</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <span class="menu-label">검사 / 리포트</span>
                    <div class="menu-dot"></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:love_type_test' %}" style="color: inherit; text-decoration: none;">연애유형 검사</a></li>
                        <li><a href="{% url 'pages:emotion_style_test' %}" style="color: inherit; text-decoration: none;">감정 표현 스타일 검사</a></li>
                        <li><a href="{% url 'pages:personality_test' %}" style="color: inherit; text-decoration: none;">성향 유형 검사</a></li>
                        <li><a href="{% url 'pages:mental_health_test' %}" style="color: inherit; text-decoration: none;">정신 건강 검사</a></li>
                        <li><a href="{% url 'pages:create_report' %}" style="color: inherit; text-decoration: none;">리포트 생성하기</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <span class="menu-label">질문 / 답변</span>
                    <div class="menu-dot"></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:ask_question' %}" style="color: inherit; text-decoration: none;">모두에게 질문하기</a></li>
                        <li><a href="{% url 'pages:answer_question' %}" style="color: inherit; text-decoration: none;">모두에게 답변하기</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <span class="menu-label">ABOUT US</span>
                    <div class="menu-dot"></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:nestmind' %}" style="color: inherit; text-decoration: none;">NestMind</a></li>
                        <li><a href="{% url 'pages:company_history' %}" style="color: inherit; text-decoration: none;">기업 History</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <span class="menu-label">고객지원</span>
                    <div class="menu-dot"></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:faq' %}" style="color: inherit; text-decoration: none;">FAQ (자주 묻는 질문)</a></li>
                        <li><a href="{% url 'pages:one_on_one_inquiry' %}" style="color: inherit; text-decoration: none;">1 : 1 문의</a></li>
                        <li><a href="{% url 'pages:notice' %}" style="color: inherit; text-decoration: none;">공지사항</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="custom-navbar-right">
            {% if user.is_authenticated %}
                <!-- 로그인된 상태 -->
                <span class="custom-navbar-user">{{ user.first_name|default:user.username }} 님</span>
                <button class="custom-navbar-logout" onclick="confirmLogout()">로그아웃</button>
                <div class="has-dropdown">
                    <span class="menu-label">마이 페이지</span>
                    <div class="menu-dot"></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:test_history' %}" style="color: inherit; text-decoration: none;">테스트 / 검사 내역</a></li>
                        <li><a href="{% url 'pages:report_view' %}" style="color: inherit; text-decoration: none;">리포트 조회</a></li>
                        <li><a href="{% url 'pages:question_history' %}" style="color: inherit; text-decoration: none;">질문 내역</a></li>
                        <li><a href="{% url 'pages:inquiry_history' %}" style="color: inherit; text-decoration: none;">1 : 1 문의 내역</a></li>
                        <li><a href="{% url 'pages:profile' %}" style="color: inherit; text-decoration: none;">프로필</a></li>
                    </ul>
                </div>
            {% else %}
                <!-- 로그인되지 않은 상태 -->
                <a href="/accounts/login/"><button class="custom-navbar-login">Login</button></a>
                <div class="has-dropdown">
                    <span class="menu-label">마이 페이지</span>
                    <div class="menu-dot"></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:test_history' %}" style="color: inherit; text-decoration: none;">테스트 / 검사 내역</a></li>
                        <li><a href="{% url 'pages:report_view' %}" style="color: inherit; text-decoration: none;">리포트 조회</a></li>
                        <li><a href="{% url 'pages:question_history' %}" style="color: inherit; text-decoration: none;">질문 내역</a></li>
                        <li><a href="{% url 'pages:inquiry_history' %}" style="color: inherit; text-decoration: none;">1 : 1 문의 내역</a></li>
                        <li><a href="{% url 'pages:profile' %}" style="color: inherit; text-decoration: none;">프로필</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<script>
function confirmLogout() {
    if (confirm('로그아웃을 진행하시겠습니까?')) {
        window.location.href = '{% url "accounts:logout" %}';
    }
}
</script>
